* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
}
.layar-dalam {
    width: 1000px;
    margin: auto;
}
.layar-penuh {
    width: 100%;
}
nav {
    z-index: 100;
    color: #00995e;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #ffff;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
}
nav .putih {
    background-color: none;
}
nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}
nav .logo img {
    vertical-align: middle;
    width: 60px;
}
nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
}
 nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
 }
 nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
 }
 nav ul li a {
    color: #ffff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
 }
nav ul li a:hover {
    text-decoration: underline;
}

/*pengaturan header*/
header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

header .intro {
    z-index: 100;
    color: #ffff;
    text-align: center;
    position: relative;
    top: 50%;
}
header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 10px;
}

.tombol {
    background-color: #00995e;
    height: 40px;
    line-height: 42px;
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
}
header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.tombol-menu .garis {
    height: 3px;
    background-color: #ffff;
}
section {
    padding: 50px 0px 50px 0px;
}
section h3 {
    font-size: 30px;
    line-height: normal;
}
section h3::after{
    content: "";
    border-bottom: 5px solid #00995e;
    width: 52px;
    display: block;
    margin: 20px auto;
}
#profile {
    text-align: center;
}
section p.ringkasan {
    font-style: italic;
    font-size: 14px;
    text-align: justify;
    color: #333;
}
section .konten-isi p {
    font-style: normal;
    text-align: justify;
}
section .konten-isi ul li {
    font-style: normal;
    text-align: justify;
    display: block;
}
section .konten-isi img {
    width: 700px;
}
nav.putih{
    background-color: #fff;
}
nav.putih .tombol-menu .garis {
    background-color: #333;
}
nav.putih ul li a {
    color: #333;
}
section.abuabu{
    background-color: #f5f6f6;
}
.sda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sda h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}
.sda img {
    width: 180px;
}
.sda div {
    text-align: center;
    width: 26%;
}
#ekonomi {
    text-align: center;
}
.dalam-ekonomi {
    width: 1000px;
    margin: auto;
}
section .konten-ekonomi p {
    font-style: normal;
    text-align: justify;
    margin: 20px;
}
section .konten-ekonomi ul li {
    display: block;
    text-align: justify;
}
section .konten-ekonomi h6 {
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 18px;
}
section .konten-ekonomi img {
    width: 500px;
}
#objekwisata {
    text-align: center;
}

.dalam-wisata {
    width: 1000px;
    margin: auto;
}
section .konten-wisata h6 {
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 18px;
}
section .konten-wisata p {
    font-style: normal;
    text-align: justify;
    margin: 20px;
}
section .konten-wisata img {
    width: 300px;
    margin-top: 30px;
}
 @media screen and (max-width: 991.98px) {
    .layar-dalam {
        width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #ffff;
        line-height: 40px;
    }
    section .konten-isi img {
        width: 570px;
    }
    nav .menu ul li a {
        color: #333;
    }
    .tombol-menu {
        display: flex;
    }
    .sda img {
        width: 110px;
    }
    .dalam-ekonomi {
        width: 90%;
    }
    .dalam-wisata {
        width: 90%;
    }
 }

@media screen and (max-width: 767px) {
    .layar-dalam {
        width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #ffff;
        line-height: 40px;
    }
    section .konten-isi img {
        width: 400px;
    }
    nav .menu ul li a {
        color: #333;
    }
    .tombol-menu {
        display: flex;
    }
    .sda h6 {
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
        font-size: 13px;
        font-weight: bold;
    }
    .sda p {
        font-size: 13px;
    }
    .sda img {
        width: 90px;
    }
    .dalam-ekonomi {
        width: 90%;
    }
    .dalam-wisata {
        width: 90%;
    }
    section .dalam-ekonomi img {
        width: 400px;
    }
    section .konten-wisata img {
        width: 300px;
    }
 }
